<div class='container'>
  <div class='row mt-4'>
    <div class='col-md-3'>
      <%= render 'books/book', { book: @book, user: @user, from: 'groups_index' } %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Group Detail</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>Group image</th>
            <th>Group name</th>
            <th>Group introduction</th>
            <th colspan="1"></th>
            <th>Group member</th>
          </tr>
        </thead>
        <tbody>          
          <tr>
            <td><%= image_tag @group.get_group_image, size: '50x50' %></td>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
            <td>
              <% if @group.owner_id == current_user.id %>
                <%= link_to "Edit", edit_group_path(@group), class: "btn btn-success" %>
              <% else %>
                <% if @group.include_user?(current_user) %>
                  <%= link_to "Leave this group", group_group_users_path(@group), method: :delete, class: "btn btn-danger" %>
                <% else %>
                  <%= link_to "Join this group", group_group_users_path(@group), method: :post, class: "btn btn-success" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% @group.users.each do |user| %>
                <li style="list-style:none;"><%= user.name %></li>
              <% end %>
            </td>            
          </tr>
        </tbody>  
      </table>

      <h3>Notification</h3>
      <% if @group.group_messages.any? %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Opinion</th>
              <th>Poster</th>
              <th>Datetime</th>
              <% if @group.owner_id == current_user.id %>
                <th></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @group.group_messages.order(created_at: :desc).each do |group_message| %>
              <tr>
                <td><%= group_message.title %></td>
                <td><%= group_message.body %></td>
                <td><%= group_message.user.name %></td>
                <td><%= group_message.created_at.strftime('%Y/%m/%d %H:%M') %></td>
                <% if @group.owner_id == current_user.id %>
                  <td><%= link_to "Destroy", group_group_message_path(@group, group_message), method: :delete, data: { confirm: "本当によろしいですか？" }, class: "btn btn-danger btn-sm" %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>このグループからのお知らせはまだありません。</p>
      <% end %>

    </div>
  </div>
</div> 