<div class= "container">
  <div class= "row mt-4">
    <div class= "col-md-3">
      <%= render 'books/book', {book: @book, user: @user, from: "user"} %>
    </div>

    <div class="col-md-8 offset-md-1"> 
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Opinion</th>
            <th>Comment count</th>
            <th>Favorite count</th>
          </tr>
        </thead>
        <tbody>
          <% @user.books.each do |book| %>
          <tr>
            <td style="width: 100px;"><%= link_to user_path(@user.id) do %>
              <%= image_tag @user.get_image(100,100)%>
            <% end %></td>
            <td style="word-break: break-word;"><%= link_to book.title, book_path(book.id) %></td> 
            <td style="word-break: break-word;"><%= book.body %></td>
            <td><%= book.book_comments.count %></td>
            <td><%= render 'favorites/btn', book: book %></td>
          </tr>
          <% end %>
        </tbody>
      </table>  

      <h3><%= @user.name %>が作成したグループ</h3>
      <% if @user.owned_groups.any? %>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>Group image</th>
              <th>Group name</th>
              <th>Group introduction</th>
              <th colspan="1"></th>
            </tr>
          </thead>
          <tbody>
            <% @user.owned_groups.each do |group| %>
              <tr>
                <td><%= image_tag group.get_group_image, size: '50x50' %></td>
                <td><%= link_to group.name, group_path(group) %></td>
                <td><%= group.introduction %></td>
                <td><%= link_to "Show", group_path(group), class: "btn btn-info mb-3" %>
                    <% if group.owner_id == current_user.id %>
                      <%= link_to "New notification", new_group_group_message_path(group), class: "btn btn-primary ml-2" %>
                    <% end %> 
                </td>
                
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p><%= @user.name %>が作成したグループはありません。</p>
      <% end %>
      
      <h3>投稿数の前日比・前週比</h3>
        <div class="table_width">
          <table class='table table-bordered'>
            <thead>
              <tr> 
                <th>今日の投稿数</th>
                <th>前日の投稿数</th>
                <th>前日比</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%=  @today_book.count %></td>
                <td><%= @yesterday_book.count %></td>
                <td>
                  <% if @yesterday_book.count == 0 %>
                    前日の投稿が0のため計算できません
                  <% else %>
                    <% @the_day_before =   @today_book.count / @yesterday_book.count.to_f  %>
                    <%= (@the_day_before * 100).round %>%
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table_width">
          <table class='table table-bordered'>
            <thead>
              <tr> 
                <th>今週の投稿数</th>
                <th>前週の投稿数</th>
                <th>前週比</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @this_week_book.count %></td>
                <td><%= @last_week_book.count %></td>
                <td>
                  <% if @last_week_book.count == 0 %>
                    前週の投稿が0のため計算できません
                  <% else %>
                    <% @the_week_before = @this_week_book.count / @last_week_book.count.to_f  %>
                    <%= (@the_week_before * 100).round %>%
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>

          <h3>7日間分の投稿数</h3>
            <table class='table table-bordered'>
              <thead>
                <tr> 
                  <th>６日前</th>
                  <th>５日前</th>
                  <th>４日前</th>
                  <th>３日前</th>
                  <th>２日前</th>
                  <th>１日前</th>
                  <th>今日</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @books.created_6day_ago.count %></td>
                  <td><%= @books.created_5day_ago.count %></td>
                  <td><%= @books.created_4day_ago.count %></td>
                  <td><%= @books.created_3day_ago.count %></td>
                  <td><%= @books.created_2day_ago.count %></td>
                  <td><%= @books.created_yesterday.count %></td>
                  <td><%= @books.created_today.count %></td>
                </tr>
              </tbody>
            </table>
            <canvas id="myLineChart"></canvas>
            <script>
              $(document).on('turbolinks:load', function() {
                var ctx = document.getElementById("myLineChart");
                var myLineChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                    labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
                    datasets: [
                      {
                        label: '投稿した本の数',
                        data: [
                          <%= @books.created_6day_ago.count %>,
                          <%= @books.created_5day_ago.count %>, 
                          <%= @books.created_4day_ago.count %>, 
                          <%= @books.created_3day_ago.count %>, 
                          <%= @books.created_2day_ago.count %>, 
                          <%= @books.created_yesterday.count %>, 
                          <%= @books.created_today.count %>
                        ],
                        borderColor: "rgba(0,0,255,1)",
                        backgroundColor: "rgba(0,0,0,0)",
                        tension: 0.4
                      }
                    ],
                  },
                  options: {
                    title: {
                      display: true,
                      text: '7日間の投稿数の比較'
                    },
                    responsive: true,
                    scales: {
                      y:{
                        suggestedMin: 0,
                        suggestedMax: 10
                      },
                      x:{
                        stacked: true
                      },
                    },
                  }
                });
              });
            </script>
            
        </div>
    </div>
  </div>
</div>