<h1>New book</h1>
<%= form_with model: book, url: books_path(from: from), local: true do |f| %>
  <div class="form-group">
    <h4>Title</h4>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <h4>Opinion</h4>
    <%= f.text_area :body, class: "form-control" %>
  </div>
   <div class="form-group">
      <h4>Tag</h4>
      <%= f.text_field :category, class: "form-control book_category" %>
  </div>

  <% if book.id.nil? %>
  <div class="form-group" id="star">
    <%= f.label :star %>
    <%= f.hidden_field :star, id: :review_star, class: "form-control" %>
    <div id="post_raty"></div>
  </div>
  <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#post_raty');
      if(elem == null) return;

      elem.innerHTML = ""
      let opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'book[star]',
      };
      raty(elem, opt);
    });
  </script>
  <% else %>
    <div class="form-group">
      <%= render "books/static_rate", book: book %>
    </div>
  <% end %>

  <%= f.submit 'Create Book', class: "btn btn-success mb-3" %>
<% end %>