<div class="container">
  <div class="row mt-4">
    <div class="col-md-3">
      <%= render 'books/book', book: @new_book, from: "book", user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Opinion</th>
            <th>Comment count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 100px;">
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_image(100, 100) %>
              <% end %>
              <%= link_to @book.user.name, user_path(@user.id) %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @user.id == current_user.id %>
              <td><%= @book.book_comments.count %></td>
              <td>
                <%= link_to edit_book_path(@book.id), class: "btn btn-success" do %>
                  Edit
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book.id), method: :delete, data: { confirm: 'Are you sure？' }, class: "btn btn-danger" do %>
                  Destroy
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <div class="mt-4">
        <h3>Comment list</h3>
        <% @book.book_comments.each do |book_comment| %>
          <div class="p-2 mb-2 ">
            <div class="mb-2 d-flex flex-column align-items-start">
              <%= image_tag book_comment.user.get_image(100, 100), class: "me-2" %>
              <%= link_to book_comment.user.name, user_path(book_comment.user) %>
            </div>
            <div class="comment-text" style="word-break: break-word; white-space: pre-wrap;"><%= book_comment.comment %></div>
            <div class="text-muted ms-2"><%= book_comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
            <% if book_comment.user == current_user %>
              <div class="mt-2">
                <%= link_to "Destroy", book_book_comment_path(@book, book_comment), method: :delete, data: { confirm: 'Are you sure？' }, class: "btn btn-danger" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="mt-4">
        <h3>Comment input field</h3>
        <%= form_with model: [@book, @book_comment], local: true do |f| %>
          <div class="mb-3">
            <%= f.text_area :comment, rows: 4, placeholder: "コメントをここに", class: "form-control" %>
          </div>
          <%= f.submit "To comment", class: "btn btn-primary mb-4" %>
        <% end %>
      </div>

    </div>
  </div>    
</div> 